


<h2>Öğrentemene Kurs Ata</h2>


@using WebMvcProject.Data;
@model CourseTeacher

<div class="container">
    <form asp-controller="Course" asp-action="AssignTeacherToCourse" method="post">
        <div class="mb-3">
            <label for="browser">Kurs Seçimi Yapınız</label>
            <input class="form-control"list="browsers" asp-for="CourseName" />
            <span asp-validation-for="CourseName"></span>
            <datalist id="browsers">
                @foreach(var item in(List<Course>) ViewBag.Courses)
                {
                    <option value="@item.Name"></option>
                }
            </datalist>
        </div>
           <div class="mb-3">
            <label >Öğretmen</label>
            <select class="form-control" asp-for="TeacherId">
                <option value="" selected>Eğitmen Seçiniz</option>
                 @foreach(var item in(List<Teacher>) ViewBag.Teachers)
                {
                    <option value="@item.Id">@item.Name @item.Surname</option>
                }
            </select>
            <span asp-validation-for="TeacherId"></span>
            
        </div>
        <input class="btn btn-success" type="submit" value="Kaydet" />
    </form>
</div>

